@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
:root{
    --font-family: 'Roboto', sans-serif;
}
body{
    font-family: var(--font-family);
    font-weight: 400;
    background-color: antiquewhite;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    opacity: .8;
}
span {
    color:grey;
    text-transform:uppercase;
    font-size: 12px;
    padding: 2px;
}
.link{
    font-size: 14px;
    padding: 0.1rem 1rem 1rem;
    text-decoration: underline;
    cursor: pointer;

}

.btn{
    background-color: rgb(255, 233, 204);
    font-family: var(--font-family);
    border-radius: 10px;
    border: none;
    font-size: 14px;
    padding: 10px;
    box-shadow: .5px .5px 2px rgb(110, 83, 47);

    text-transform: uppercase;

    transition: background-color 0.5s ease;
}
.btn:hover{
    background-color: rgb(243, 207, 161);
    box-shadow: .5px .5px 3px rgb(110, 83, 47);
}
.btn-black{
    color: white;
    background-color: rgb(0, 0, 0);
    box-shadow: .5px .5px 2px rgb(110, 83, 47);
}
.btn-black:hover{
    background-color: rgb(131, 102, 65);
    box-shadow: .5px .5px 5px rgb(255, 255, 255);
}
.subtitle{
    margin: 2rem 0;
    font-size: 16px;
    text-transform: uppercase;

}
.pet__header{
    height: 80px;
    background-color: rgb(26, 25, 25);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    color: white ;
    text-shadow: .2px .2px 2px white;
    text-transform: uppercase;
}
.pet__logo{
    background-image: url(./assets/adocao.png);
    width: 350px;
    height: 200px;
    margin: 0 auto;
    background-position: center;
}
.pet__container{
    width: 500px;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.4rem;    
    background-image: url(https://img.freepik.com/vetores-gratis/adesivo-de-impressao-de-pata-design-texturizado-de-papel-de-clipart-de-vetor-de-animais_53876-146424.jpg?size=626&ext=jpg&ga=GA1.1.809102889.1699736570&semt=ais);
    background-position: -80% 40%;
    font-size: large;
    box-shadow: 2px 2px 10px rgb(39, 39, 39);
    
}

.pet__container-info{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.pet__container-titulo{
    font-size: larger;
    text-transform: capitalize;
}
.pet__container-btns{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
}
.pet__adotado{
    display: none;
}


.form__container{
    width: 500px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: .4rem;


}
.form__container-input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    box-shadow: 1px 1px 5px rgb(58, 58, 58);
    border-radius: 5px;
    border:none;

}

@media (max-width: 550px) {
    .pet__container{
        width: 300px;
    }
}